<html>

<head>
    <title>
        Demo App-Blog
    </title>
    CSS only
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" crossorigin="anonymous">
</head>

<body>
    <div class="ui fixed inverted menu" style="margin-bottom: 5rem;">
        <div class="ui container">
            <div class="header item"> <i class="sign language icon"></i> Blog Site</div>

            <a href="/" class="item"> <i class="home icon"></i> Home</a>
            <a href="/blogs/new" class="item"> <i class="keyboard outline icon"></i> New</a>
            <a href=""></a>
        </div>
    </div>